<h1>Search for Plants</h1>

<%= form_with url: home_index_path, method: :get, local: true do %>
  <%= label_tag :query, "Enter plant name:" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @plants.any? %>
  <h2>Search Results</h2>
  <ul>
    <% @plants.each do |plant_wrapper| %>
      <% plant = plant_wrapper["item"] %>
      <li>
        <% common_names = plant["Common name"] || [] %>
        <% common_names = [common_names] if common_names.is_a?(String) %>
        <strong><%= common_names.join(", ") %></strong>
        <%= image_tag plant["Img"], alt: common_names.join(", ") %>
        <br>
        <em><%= plant["Latin name"] || "Unknown Latin name" %></em>
      </li>
    <% end %>
  </ul>
<% end %>
